
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --clr-primary: ;
    --clr-dark: ;
    --clr-light: ;
    --fw-normal: ;
    --fw-bold: ;
    --fw-black: ;
}

body {
    margin: 0;
    font-family: 'Inter';
    font-size: 1.125rem;
    color: clr(--clr-dark);
    line-height: 1.6;
}

header {

}

.nav_list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: ;
    text-transform: ;
    font-weight: ;
    letter-spacing: ;
}