:root {
    --clr-neutral-100: hs1(232, 12%, 13%);
    --clr-neutral-900: hs1(0 0% 0%);

    --ff-primary: "Cormorant Garamond", serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-300: 1.25rem;
    --fs-400: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 3rem;
    --fs-800: 4rem;

    --fs-body: var(--fs-400);
    --fs-main-heading: var(--fs-800);

    --light: #d8dbe0;
    --dark: black;
}

*, p, a, h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", serif;
  color: var(--dark);
}

h1 {
  font-size: var(--fs-800);
}

h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);

}

h4 {
  font-size: var(--fs-400);
}

p, ul {
  font-size: var(--fs-300);
}

body {
  background-color: #e9e9e9;
}

@view-transition {
  navigation: auto;
}

/* Header */

.primary-header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 2rem;
  justify-content: center;
}

.logoline1, .logoline2 {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 2s linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.header-logo-title {
  display: flex;
  align-items: center;
}

.td-main-title {
  display: grid;
  color: var(--clr-neutral-900);
  font-weight: var(--fw-regular);
  line-height: 4rem;
}

.name-with-socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 3rem;
  margin-bottom: 20px;
  font-style: italic;
}

.hidden-socials-column {
  display: none;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.socials-column {
  margin-left: auto;
}

.social-icons {
  display: flex;
  grid-gap: .75rem;
  align-items: center;
}

.header-navigation {
  display: flex;
  grid-gap: 1.25rem;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 4rem;
}

/*Statement*/

.statement-section {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  height: calc(100vh - 192px);
}

.statement {
  padding-top: 25%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size:  var(--fs-800);
}

/* Homepage Projects Section */

.projects-section {
  max-width: 70rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 4rem;
}

.project-card {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

/* Project Card Image */

.project-card-image {
  position: relative;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  overflow: hidden;
  max-width: 600px;
  aspect-ratio: 3/2;
}

/* Project Card Summary */
.project-card-summary {
  display: grid;
  padding: 1rem;
  align-content: center;
}

.project-card-summary-headline {
  padding: 0 0 1rem 0;
}

.project-card-summary-title {
  text-align: left;
  text-decoration: none;
}

.project-card-summary-desc {
  text-align: left;
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  max-width: 30ch;
  padding-top: .5rem;
}

.project-card-summary-links {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-card-summary-tag {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  text-align: left;
}

/* Flipped Project Card Summary */

.project-card-summary-title-flip {
  text-align: right;
  text-decoration: none;
}

.project-card-summary-desc-flip {
  text-align: right;
  max-width: 450px;
  padding-top: .5rem;
}

.project-card-summary-links-flip {
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-bottom: 1rem;
  gap: 1rem;
}

.project-card-summary-tag-title {
  color: rgba(0, 0, 0, 0.50);
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  text-align:right;
}

.project-icons-square {
  display: flex;
  grid-gap: .5rem;
  justify-content: right;
}

.project-icons-square-flip {
  display: flex;
  grid-gap: .5rem;
  justify-content: left;
}

.project-card-image-flip {
  position: relative;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  overflow: hidden;
  max-width: 600px;
  aspect-ratio: 3/2;
}

.projects-grid-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
  justify-content: center;
  max-width: 70rem;
  grid-gap: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8rem;
}

.card-image-shadow {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35%;
  background-color: rgba(0, 0, 0, .7);
  transition: ease-in .25s;
}

.project-card:hover {
  .card-image-shadow {
    opacity: 100%;
  }
}

.image-shadow-text {
  margin-left: 5%;
}

.image-shadow-title {
  color: white;
}

.image-shadow-desc {
  color: white;
}

.image-shadow-links {
  margin-left: 5%;
  display: flex;
  gap: 16px;

}

.image-shadow-links {
  display: flex;
  bottom: 5%;
  right: 5%;
}

.image-shadow-links > p > a > u {
  color: white;
}

.image-shadow-stack {
  position: absolute;
  top: 15%;
  right: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}


/* Footer Elements */

.primary-footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0rem;
}

.skills-services-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  min-width: 320px;
  border-top: solid grey 1px;
  border-bottom: solid grey 1px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 6rem;
}

.skills-services-cards {
  display: flex;
  gap: .5rem;
  padding: 1rem 0rem;
  align-items: center;
}

.about-contact-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2rem 0 2rem 0;
}

.about {
  width: 320px;
}

.contact {
  width: 320px;
}

/* Contact Form */

/* Project Page */

.project-page {
  display: grid;
  max-width: 80rem;
  grid-template-columns: 3fr 2fr;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  padding-top: 1rem;
}

.project-summary-sticky {
  position: sticky;
  top: 25px;
  display: grid;
  justify-items: left;
}

.project-image-section-hidden {
  display: none;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.project-details-image {
  position: relative;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  overflow: hidden;
  max-width: 800px;
  aspect-ratio: 3/2;
}

.project-summary-header {
  padding: 1rem;
  display: grid;
}

.project-summary-info {
  display: flex;
  grid-gap: 3rem;
  padding: 1rem .5rem;
}

.project-card-tags-section {
  margin-left: auto;
}

.project-card-tags-section-row {
  display: flex;
  grid-gap: .5rem;
  align-items: center;
}

.project-summary-sections {
  margin-left: 3rem;
  padding: 0rem 2rem 0rem 4rem;
  min-width: 300px;
}

.project-details-button {
  margin: 2rem 0;
}

.collapsible {
  position: relative;
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  width: 100%;
  text-align: left;
  outline: none;
  display: grid;
}

.button-title {
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.expand-icon {
  margin-left: auto;
  display: block;
  position: absolute;
  top: 20%;
  right: 5%;
}

.collapse-icon {
  margin-left: auto;
  display: none;
  position: absolute;
  right: 5%;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/* Media Queries */

@media (max-width: 1100px) {

  .project-card {
    display: grid;
    overflow: hidden;
  }

  .project-card-image-flip {
    order: -1;
  }

  .project-card-summary-title {
    text-align: center;
  }

  .project-card-summary-desc {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .project-card-summary-links {
    display: flex;
    justify-content: center;
  }

  .project-card-summary-icons {
    display: flex;
    justify-content: center;
  }

  .project-card-summary-title-flip {
    text-align: center;
  }

  .project-card-summary-desc-flip {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .project-card-summary-links-flip {
    display: flex;
    justify-content: center;
  }

  .project-icons-square, .project-icons-square-flip {
    justify-content: center;
  }

  .project-page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .project-summary-sticky {
    display: none;
  }

  .project-image-section-hidden {
    display: block;
  }

  .project-details {
    display: grid;
    justify-items: center;
    overflow: auto;
  }
  
  .project-summary-sticky-hidden {
    display: grid;
    justify-content: center;
    padding: 1rem;
  }

  .project-card-summary-tag-title {
    text-align:center;
  }

}

@media (min-width: 1100px) {
  .project-card-summary {
    max-width: 350px;
  }
  
  .project-summary-sticky-hidden {
    display: none;
  }

  .project-card {
    max-height: 400px;
  }
}

@media (max-width: 900px) {
  .primary-header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .name-with-socials {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hidden-socials-column {
    display: flex;
  }

  .socials-column {
    display: none;
  }

  .statement {
    font-size:  6vw;
  }
  
  .skills-services-section {
    grid-template-columns: 1fr 1fr;
    justify-items: normal;
  }

  .skills-services-cards {
    padding: 1rem .5rem;
  }

  .about-contact-info {
    display: grid;
  }

  .contact {
    padding-top: 2rem;
  }
}

@media (max-width: 750px) {
  .header-navigation {
    justify-content: center;
  }

  .statement {
    font-size: 6.5vw;
  }

  .project-card {
    background: white;
    border-radius: 25px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  }

  .project-card-summary {
    border-radius: 0;
    background: none;
    border-top: 1px solid black;
    margin-top: 1rem;
  }

  .project-card-image, .project-card-image-flip {
    box-shadow: none;
    border-radius: 30px 30px 0 0;
  }

  .card-image-shadow {
    opacity: 100%;
  }

  .image-shadow-text {
    padding-top: 2.5%;
  }

  .image-shadow-desc {
    display: none;
  }
}

@media (max-width: 650px) {

  .header-logo-title {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .td-main-title {
    text-align: center;
  }

  .name-with-socials {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-left: 0;
  }

  .statement-section {
    padding: 0 2rem;
    height: calc(100vh - 344px);

  }

  .projects-section {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding: 2rem;
  }

  .skills-services-section {
    padding: 2rem;
  }

  .project-summary-header {
    grid-template-columns: 2fr 1fr;
  }

}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-italic {
  font-style: italic;
}

.fs-main-heading {
  font-size: var(--fs-main-heading);
}
.fs-body {
  font-size: var(--fs-body);
}

.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-800 {
  font-size: var(--fs-800);
}