:root {
    --clr-neutral-100: hs1(232, 12%, 13%);
    --clr-neutral-900: hs1(0 0% 0%);

    --ff-primary: "Inter", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 3rem;

    --fs-body: var(--fs-400);
    --fs-main-heading: var(--fs-800);

    --light: #d8dbe0;
    --dark: #28292c;
}

a {
  color: black;
}

li {
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
}

body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h1, body.dark h2, body.dark a, body.dark .about-skills-services, body.dark .contact {color: #fff;}

.dark-mode-button-header {
  position: relative;
}

.dark-mode-button-header {
  position: relative;
  margin-left: auto;
  margin-right: 10%;
  padding-top: 3rem;
  width: 60px;
}


.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.primary-header {
  display: grid;
  grid-template-columns: 128px 480px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  justify-items: left;
}

.td-main-title {
  display: grid;
  justify-items: right;
  font-size: var(--fs-main-heading);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-regular);
}

.name-with-socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: right;
  grid-gap: 1rem;
}

.social-icons {
  display: flex;
  grid-gap: .75rem;
  align-items: center;
}

/* Homepage-specific CSS */

.projects-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 1.25rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  padding-top: 4.25rem;
}

.project-card {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 37.5rem;
  flex-shrink: 0;

}

.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.project-card-title {
  position: absolute;
  display: none;
  font-size: var(--fs-800);
  font-weight: var(--fw-regular);
  font-family: var(--ff-heading);
}

.project-card:hover > .project-card-title {
  display: block;
}

.primary-footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  align-items: top;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 4.25rem 2rem 8rem 2rem;
}

.about-skills-services {
  width: 320px;
  flex-shrink: 0;
}

.contact {
  width: 320px;
  flex-shrink: 0;
}

/* Project Page-specific CSS */

.project-page {
  display: grid;
  grid-template-columns: 480px 800px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.primary-header-projects-page {
  position: sticky;
  top: 0px;
  display: grid;
  grid-template-columns: 128px 480px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  justify-items: left;

}

.project-summary {
  position: sticky;
  top: 180px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 0 0 0;
  justify-items: right;
}

.project-summary-title {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--fs-700);
}

.project-summary-desc {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--fs-600);
  padding-top: .5rem;
}

.project-summary-prototype-link {
  font-style: italic;
  text-decoration: underline;
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--fs-600);
  padding-top: .5rem;
}

.project-tags-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 2rem;
  max-width: 80rem;
  padding-top: 1rem;
}

.project-summary-tag-title {
  color: rgba(0, 0, 0, 0.50);
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
  text-align:right;
}

.project-summary-tag {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
  text-align:right;

}

.project-details {
  display: grid;
  grid-template-columns: 1;
  margin-left: auto;
  margin-right: auto;
  padding: 14rem 60px 8rem 60px;
  overflow: auto;
}

.project-details-heading {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--fs-600);
  padding: 2rem 0 0 1rem;
}

.project-details-body {
  max-width: 500px;
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

/* Contact Me Page-specific CSS */



@media (max-width: 1200px) {
  
  .project-page {
    grid-template-columns: repeat(1, 1fr);
  }

  .primary-header {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .primary-header-projects-page {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .td-main-title {
    text-align: center;
  }

  .name-with-socials {
    justify-items: center;
  }

  .header-and-summary {
    margin-left: auto;
    margin-right: auto;
  }

  .project-summary {
    position: static;
    justify-items: center;
  }

  .project-summary-tag-title {
    text-align: center;
  }
  
  .project-summary-tag {
    text-align: center;
  
  }

  .project-details {
    padding-top: 50px;
  }
  
}

@media (max-width: 800px) {

  .dark-mode-button-header {
    position: absolute;
    top: -1rem;
    right: 0rem;
  }

.name-with-socials {
  grid-template-columns: 1fr;
}

  .projects-section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .primary-footer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .contact {
    padding-top: 1rem;
  }

}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-italic {
  font-style: italic;
}

.fs-main-heading {
  font-size: var(--fs-main-heading);
}
.fs-body {
  font-size: var(--fs-body);
}

.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-800 {
  font-size: var(--fs-800);
}


/*Dark Mode to Add and Adjust Later

        <div class="dark-mode-button-header">
                    <div>
                        <input type="checkbox" class="checkbox" id="checkbox">
                        <label for="checkbox" class="checkbox-label">
                          <i class="fas fa-moon"></i>
                          <i class="fas fa-sun"></i>
                          <span class="ball"></span>
                        </label>
                  
*/